.banner{
	width: 100%;
	height: 100vh;
	margin-top: 0;
	object-fit: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.hero{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to right,rgba(0,0,0,1),rgba(0,0,0,.4));
	display: flex;
	align-items: center;
}
.hero-describtion{
	width: 50%;
	color: #cecdcd;
	padding: 25px;
}
.hero-describtion h5{
	margin: 0;
	color: rgb(46, 153, 229);
	font-size: 20px;
}
.bannerTitle{
	font-size: 50px;
	margin: 0;
}
